# Lab 1: Basic Python Programming

## 1. Basic usage

> John Doe is a 29 years-old system engineer who earns ฿41500.00 a month.

Create and assign variables to store this person's information (name, age, position and salary).

In [9]:
# Write your code here
info = {
    "name": "John Doe",
    "age": 29,
    "position": "System Engineer",
    "salary": 41500.00
}

What is the type of each variables?

In [11]:
# Write your code here
print("Name: ", type(info["name"]))
print("Age: ", type(info["age"]))
print("Position: ", type(info["position"]))
print("Salary: ", type(info["salary"]))

Name:  <class 'str'>
Age:  <class 'int'>
Position:  <class 'str'>
Salary:  <class 'float'>

The manager decides to give John a 7% raise. Update his salary.

In [12]:
# Write your code here
newSalary = info["salary"] * 1.07

Prints his information again with his new salary.

In [14]:
# Write your code here
print("New Salary: ", newSalary);

New Salary:  44405.0

Now, he decides to resign. Delete his information from the system.

In [15]:
# Write your code here
info = {}

## 2. Variable and Expression

**2.1** Write a code to convert temperature unit from celcius to other units

In [17]:
C = 34.5

**Fahrenheit**  
#### $\frac{C}{5} = \frac{F-32}{9}$

In [18]:
F = (C * 9/5) + 32

**Kelvin**  
$K = C + 273.15$

In [19]:
K = C + 273.15

**Rømer**  
#### $Ro = \frac{C \times 21}{40} + 7.5$

In [20]:
Ro = (C * 21)/40 + 7.5

## 3. Multi-item variables
#### List

In [39]:
names = ['Thomas', 'Kate', 'Mike', 'Amelia', 'James', 'Megan']

Create new variable call `new_name` which takes input name of the user.

In [40]:
new_name = input('Enter your name: ')

Insert `new_name` into `names` list.

In [41]:
# Write your code here
names.append(new_name)
print(names)

['Thomas', 'Kate', 'Mike', 'Amelia', 'James', 'Megan', 'Wit']

Select your name from the list

In [43]:
# Write your code here
myName = list(filter(lambda x: x == "Wit", names))
print(myName)

['Wit']

Merge `another_names` into `names`.

In [44]:
another_names = ['Peter', 'Steve', 'Sam', 'Charlotte']

In [45]:
# Write your code here
names.extend(another_names)
print(names)

['Thomas', 'Kate', 'Mike', 'Amelia', 'James', 'Megan', 'Wit', 'Peter', 'Steve', 'Sam', 'Charlotte']

Change `Amelia`'s name to `Amy`

In [46]:
# Write your code here
names = [name.replace('Amelia','Amy') for name in names]
print(names)

['Thomas', 'Kate', 'Mike', 'Amy', 'James', 'Megan', 'Wit', 'Peter', 'Steve', 'Sam', 'Charlotte']

#### Dictionary

In [48]:
capital_city = {'England':'London',
                'Spain':'Madrid',
                'Japan':'Tokyo',
                'Australia':'Sydney',
                'Germany':'Berlin',
               }

Add a record `Thailand` and it's capital city to this dictionary

In [50]:
# Write your code here
capital_city['Thailand'] = 'Bangkok'
print(capital_city)

{'England': 'London', 'Spain': 'Madrid', 'Japan': 'Tokyo', 'Australia': 'Sydney', 'Germany': 'Berlin', 'Thailand': 'Bangkok'}

You may notice that the capital city of `Australia` is wrong. It should be `Canberra`. Correct this mistake.

In [51]:
# Write your code here
capital_city['Australia'] = 'Canberra'

## 4. Control Flows and conditional statements

### if...elif...else

**1.** Define a variable to get input age from user.

In [54]:
age = int(input("input your age: "))

Write a series of if...elif...else statement that categorize input age into following groups:
> Babies: 0-2 years old  
Children: 3-12 years old  
Teenager: 13-19 years old  
Young Adults: 20-29 years old  
Middle-aged Adults: 30-45 years old  
Old Adult: 46-59 years old  
Elderly: Above 60 years old

In [55]:
# Write your code here
if age >= 0 and age <= 2: 
    print("You are a baby") 
elif age >= 3 and age <= 12: 
    print("You are a child")
elif age >= 13 and age <= 19:
    print("You are a teenager")
elif age >= 20 and age <= 29:
    print("You are a young adult")
elif age >= 30 and age <= 45:
    print("You are a middle-aged adult")
elif age >= 46 and age <= 59:
    print("You are an old adult")
else: 
    print("You are an elderly person")

You are a young adult

### Looping

**1.** Write a code to create a multiplication table of an input number (multiplier from 1-12).

In [59]:
# Write your code here
num = int(input("Enter a number: "))
for i in range(1, 13):
    print(num, " x ", i, " = ", num*i, end="\n")

5  x  1  =  5
5  x  2  =  10
5  x  3  =  15
5  x  4  =  20
5  x  5  =  25
5  x  6  =  30
5  x  7  =  35
5  x  8  =  40
5  x  9  =  45
5  x  10  =  50
5  x  11  =  55
5  x  12  =  60

**2.** Write a code that construct the following pattern.

input: 5  
output: 
*  
**  
***  
****  
*****

In [60]:
# Write your code here
traiangle = int(input("Enter a number: "))
for i in range(1, traiangle+1):
    print("*" * i, end="\n")

*
**
***
****
*****

**3.** Creates a loop to print `I love <programming language>!` except for Assembly, print `Not you, Assembly`.

In [61]:
languages = ['C/C++', 'Python', 'R', 'Java', 'SQLs', 'Assembly', 'Go', 'Rust', 'Kotlin']

In [63]:
# Write your code here
for i in range(len(languages)):
    if(languages[i] == "Assembly"):
        print("Not you, " ,languages[i])
    else:
        print("I love " ,languages[i])

I love  C/C++
I love  Python
I love  R
I love  Java
I love  SQLs
Not you,  Assembly
I love  Go
I love  Rust
I love  Kotlin

**4.** Write a code to print every number from 1 to 25 except the one that is divisible by 3.

In [64]:
# Write your code here
for i in range(1,26):
    if(i%3 == 0):
        continue;
    else:
        print(i)

1
2
4
5
7
8
10
11
13
14
16
17
19
20
22
23
25

**5.** Write a code that finds the number that is divisible by 7 in a given range.

In [67]:
lower_bound = 1
upper_bound = 100
divisor = 7

result = []

In [68]:
# Write your code here
for i in range(lower_bound, upper_bound+1):
    if(i%divisor == 0):
        result.append(i)
    else:
        continue;
print(result)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

**6.** Write a code that construct the following pattern.

In [ ]:
input: 5  
output:  
*#####
**####
***###
****##
*****#

input: 10  
output:  
*##########  
**#########  
***########  
****#######  
*****######  
******#####  
*******####  
********###  
*********##  
**********#

In [69]:
# Write your code here
inputReg = int(input("Enter a number: "))
for i in range(1, inputReg+1):
    print("*" * i + "#" * (inputReg-i), end="\n")

*####
**###
***##
****#
*****

## 5. Functions

**1.** Define a function `average` that takes arbitrary number of arguments and calculate the mean of input.

In [70]:
# Write your code here
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9] #abg should be 5
def average(num): 
    sum = 0
    for i in range(len(num)):
        sum += num[i]
    return sum/len(num)
print(average(numbers))

5.0

**2.** Define a function `sumproduct` that takes 2 equal-sized lists and calculate sum of the products of two lists.  
It should look like this:  
> sumproduct([1,2,3],[4,5,6])  
output: 32

(1 * 4) + (2 * 5) + (3 * 6) = 32

In [71]:
# Write your code here
list1 = [1,2,3]
list2 = [4,5,6]
def sumproduct(list1, list2):
    sum = 0
    for i in range(len(list1)):
        sum += list1[i] * list2[i]
    return sum 
print(sumproduct(list1, list2))

32

**3.** Define a function `fibonacci` that returns Fibonacci number at `n` position.  
A Fibonacci number at position `n` is defined by `F(n) = F(n-1) + F(n-2)`. Where `F(0) = 0` and `F(1) = 1`  
**Example:** `0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, ...`

In [73]:
# Write your code here
def fibonacci(n):
    if n <= 1:
        return n
    else:
        return(fibonacci(n-1) + fibonacci(n-2))
print(fibonacci(10))

55

**4.** Define a function `is_palindrome` that takes input string and check whether it is a palindrome or not.  
A string is a palindrome if it reads the same forward and backwards.  
**Example:** `madam`, `race car`, `borrow or rob`, `amore roma`, `never odd or even`  
Do not consider whitespace. Use `str.replace(' ', '')` to remove whitespace from your string.  
Case-insensitive. You can turn everything into lower or uppercase using `str.lower()` or `str.upper()`  
**Hint:** you can reverse the string using `[::-1]` slice.

In [79]:
str1 = "radar" # palindrome
str2 = "rotator" # palindrome
str3 = "lemon" # not palindrome

In [84]:
# Write your code here
def is_palindrome(str):
    return str == str[::-1]
print(is_palindrome(str1))
print(is_palindrome(str2))
print(is_palindrome(str3))

False
False
False

**5.** An `anagram` is a word or phrase formed by rearranging the letters of a different word or phrase.  
Define a function `is_anagram` that takes in 2 strings and check whether it is possible to compose a second string using letters in the first string or not.  
**Example:** `Tom Marrvolo Riddle` can be rearraged into `I am Lord Voldermort`  
`Meaning of Life` can be rearranged into `Engine of a Film`  
Do not consider whitespace. Use `str.replace(' ', '')` to remove whitespace from your string.  
Case-insensitive. You can turn everything into lower or uppercase using `str.lower()` or `str.upper()`  
Returns only `True` of `False`

In [85]:
# Write your code here
str1 = "Meaning of Life"
str2 = "Engine of a Film"

def is_anagram(str1, str2):
    str1 = str1.replace(' ', '').lower()
    str2 = str2.replace(' ', '').lower()
    str1_list = list(str1).sort()
    str2_list = list(str2).sort()
    return str1_list == str2_list
print(is_anagram(str1, str2))

True

---